 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #5474a4;
    color: white;
    font-weight: bold;
  }
  
  .navbar-logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: #0f0101;
    font-weight: 500;
    position: relative;
  }
  
  .navbar-links li a.active {
    color: #007bff;
  }
  
  .hamburger {
    /* display: none; */
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  
  .hamburger .line {
    width: 25px;
    height: 3px;
    background: #333;
    transition: all 0.3s ease;
  }
  
  
  .hamburger.open .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .hamburger.open .line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.open .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
 
  @media (max-width: 768px) {
   
    .navbar-links {
     position: absolute;
      /* position: static; */
      top: 70px;
      left: -100%;
      background: #ffffff;
      width: 100%;
      flex-direction: column;
      gap: 1.5rem;
      text-align: center;
      transition: left 0.3s ease;
      padding: 2rem 0; 

    }
  
    .navbar-links.open {
      left: 0;
    }
  
    .hamburger {
      display: flex;
    }
  }
   
  .navbar-links li a:hover {
    color: #007bff;
    transition: color 0.3s ease;
  }
  

  